html, body, #root {
	width: 100%;
	height: 100%;
}


@define-mixin base-popup {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	z-index: 2;
	width: 800px;
	height: 500px;
	border-radius: 10px;
	background-color: white;
	background-color: #5880a0;
	animation-name: show;
	animation-duration: 0.4s;
}


@define-mixin base-area {
	width: 95%;
	height: 200px;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	resize: none;
	background-color: transparent;
	color: white;
	border: none;
	text-align: center;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: rgba(255,255,255,0.3);
	}
}


@define-mixin base-close-button {
	width: 40px;
	height: 40px;
	background-image: url(../public/icons/remove.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;

	&:hover {
		background-color: rgba(255,255,255,0.1);
	}
}


@define-mixin big-avatar-popup {
	margin-top: -100px;
	flex-shrink: 0;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	cursor: pointer;
}


@define-mixin mini-avatar {
	display: flex;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}

@define-mixin base-name {
	margin-top: 15px;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	text-align: center;
	color: white;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: rgba(255,255,255,0.3);
	}
}


.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}


.popup-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.8);
}

.bar {
	display: flex;
	align-items: center;
}

.search {
	height: 30px;
	width: 200px;
	border: none;
	border-radius: 5px;
}


.info-pokemon-popup {
	@mixin base-popup;
}


.create-pokemon-popup {
	@mixin base-popup;

	.avatar {
		@mixin big-avatar-popup;
	}

	.name {
		@mixin base-name;
	}

	.add-btn {
		height: 60px;
		margin-bottom: 25px;
		font-family: 'Open Sans', sans-serif;
		font-size: 26px;
		color: white;
		text-transform: uppercase;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	.info-field {
		@mixin base-area;
	}
}


.avatar {
	display: flex;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}


.close-btn {
	@mixin base-close-button;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 5px;
	margin-top: 5px;
	width: 40px;
	height: 40px;
}


.request-list {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	height: 100%;
	width: 400px;
	background-color: #5880a0;

	.title {
		display: flex;
		height: 80px;
		flex-direction: row;
		align-items: center;
		flex-shrink: 0;

		.appname {
			display: flex;
			margin-left: 60px;
			color: white;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.newpokemon {
			border-radius: 10px;
			margin-left: 25px;
			right: 10px;
			width: 40px;
			height: 40px;
			background-image: url(../public/icons/add.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 50%;
			background-color: rgba(0,0,0,0.1);
			cursor: pointer;
		}

	}
}


.scroll {
	overflow: hidden;
	overflow-y: scroll;
}


.friends-list {
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
	background-color: #ededed;
	overflow: hidden;
	flex-direction: column;

	.scroll {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 15px;
	}

	.bar {
		display: flex;
		width: 100%;
		height: 80px;
		flex-shrink: 0;
		background-color: #5880a0;
	}
}

.my-friend {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	width: 250px;
	height: 250px;
	margin: 15px 15px;
	background-color: #608caf;
	animation-name: show;
	animation-duration: 0.3s;
	box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);


	.avatar {
		@define-mixin mini-avatar;
		display: flex;
		align-self: center;
		height: 190px;
		width: 190px;
		margin-top: 10px;
		cursor: pointer;
	}

	.user-name {
		margin-top: 10px;
		color: white;
		align-self: center;
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
	}

	.remove-btn {
		@mixin base-close-button;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
	}

	&:hover {
		background-color: #6999bf;
	}
}


.new-friend {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 90px;
	padding-left: 10px;
	box-sizing: border-box;

	&:hover {
		background-color: #608caf;
	}

	.avatar {
		@define-mixin mini-avatar;
	}


	.user-name {
		display: flex;
		margin-left: 15px;
		font-family: 'Open Sans', sans-serif;
		color: white;
		font-size: 13px;
		text-transform: uppercase;
	}


	.add-btn {
		position: absolute;
		border-radius: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		background-image: url(../public/icons/add.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 50%;
		background-color: rgba(0,0,0,0.1);
		cursor: pointer;

		&:hover {
			background-color: rgba(255,255,255,0.1);
		}
	}


	.cancel-btn {
		@mixin base-close-button;
		position: absolute;
		border-radius: 10px;
		right: 55px;
		width: 40px;
		height: 40px;
	}
}

.info-pokemon-popup {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	z-index: 2;
	width: 800px;
	height: 500px;
	border-radius: 10px;
	background-color: white;
	background-color: #5880a0;
	animation-name: show;
	animation-duration: 0.4s;

	.avatar {
		@mixin big-avatar-popup;
	}

	.name {
		@mixin base-name;
	}

	.info-field {
		@mixin base-area;
	}

	.close-btn {
		@mixin base-close-button;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
	}
}

@keyframes show {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}